@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="w-full h-full flex justify-center items-center flex-col">
    <h1 class="text-5xl">Welcome to FileApp</h1>
    <p class="text-zinc-800 pt-10">Use this app to upload and download files.</p>
</div>