<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FileApp</title>
    <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="flex justify-between px-10 py-3 bg-zinc-100 absolute w-full">
            <div class="text-2xl">FileApp</div>
            <nav class="flex content-center">
                <ul class="flex justify-around items-center gap-5 text-sm">
                    <li ><a href="/">Home</a></li>
                    <li ><a href="/files">Files</a></li>
                    <li ><a href="/files/upload">Upload</a></li>
                </ul>
            </nav> 
        </div>
    </header>
    <main role="main" class="min-h-screen py-20">
        @RenderBody()
    </main>

    <footer class="flex justify-center px-10 py-3 bg-zinc-100 absolute w-full bottom-0">
            &copy; 2025 - FileApp
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
